.imagen-arte-home{
  width: 100px;
  border-radius: 10%;
  border: 1px solid gray;
  padding: 2px;
  float: left;
  margin-right: 20px;
  padding-top: 15px;
}
.container{
     background: black;
     backgroundimage: url(img/bjjblackbelt.jpg);
    background-repeat: no-repeat;
    background-size:contain;
   height: 600px;
}
.headercontainer{
    background: #047;
}
header{
    background-size:cover;
    height: 120PX;    
    background: #499bea;
background: -moz-linear-gradient(left, #499bea 0%, #060e55 31%, #000047 34%);
background: -webkit-gradient(left top, right top, color-stop(0%, #499bea), color-stop(31%, #060e55), color-stop(34%, #000047));
background: -webkit-linear-gradient(left, #499bea 0%, #060e55 31%, #000047 34%);
background: -o-linear-gradient(left, #499bea 0%, #060e55 31%, #000047 34%);
background: -ms-linear-gradient(left, #499bea 0%, #060e55 31%, #000047 34%);
background: linear-gradient(to right, #499bea 0%, #060e55 31%, #000047 34%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#000047', GradientType=1 );
}
.headercontainer{
    background: #047;
    position: relative;
   
}  
header{
    background-size:cover;
    height: 65PX;  
    z-index: 65;
    box-shadow: 0px 5px 5px black;
    }
.logo{
    width: auto;
    height: 4vh;
    position: absolute;
    padding-left: 10vh;
    padding-top: 0.5vw;
    transform: scalex(2.0);
}
.logo:hover{
    transform:scale(2.0);
    z-index: 80;
    
}
nav{
    text-align: center;
    margin-bottom: 1px;
    padding-top: 23px;
    
    }
nav a{
    font-size: 1.3em;
    text-align: center;
    margin:30px;
    text-decoration: none;
    color: white;
    font-family: 'Swanky and Moo Moo', cursive;  
    padding: 0.2vh;  
}
nav a:hover{
     color:yellow;  
     text-decoration: underline overline;
      -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
     transform: 
}
form{
    margin-top: 50px;
    float: right;
    padding: 20px;
    color: aliceblue;
    font-family:sans-serif;
    border-style: solid. red, 1px;
     border: 1px solid #369;
    border-radius: 7%;
    padding: 20px;   
    color: black;
    font-family:sans-serif;
    border-style: solid, 1px;
    border: 1px solid #369;
    border-radius: 8%;
    background-color: aliceblue ;     

}
label{
    padding: 20px;
    margin-top: 10px;
    font-size: 1em;
}
.registro-header{
   position:absolute;  
    margin-right: 10%;
    z-index: 80;
}

strong{
    margin: 10%;
}

.faqs{
    text-align: center;
 padding-top:50px;
    margin-bottom: 70px;
   }
.faqs-container{
    background: #BFE2FE;
   
}
.pregunta{
    line-height: 30px;
    background: #A5D3F9;
    font-weight: bold;
    font-size: 1.2em;
    font-family: georgia;
}
.respuesta{
    background: #C0E1FC;
    line-height: 24px;
    font-family: verdana;
    }
.registro{
    padding-left: 20%;
    padding-top: 60px;
    padding-bottom: 80px
}
.fondomagic{
    width:auto; 
    position: relative;
    
}
footer{
    color: aliceblue;
    width: 100%;
    background-color:#047;
    height: 60px;
    margin-bottom:10px; 
    position: relativ
}
/* +++++++++++++++++++  gradient  ++++++++++++++++++++++++++*/
footer{
   background: -moz-linear-gradient(left, #499bea 0%, #060e55 31%, #000047 34%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #499bea), color-stop(31%, #060e55), color-stop(34%, #000047));
  background: -webkit-linear-gradient(left, #499bea 0%, #060e55 31%, #000047 34%);
  background: -o-linear-gradient(left, #499bea 0%, #060e55 31%,  #000047 34%);
  background: -ms-linear-gradient(left, #499bea 0%, #060e55 31%,  #000047 34%);
  background: linear-gradient(to right, #499bea 0%, #060e55 31%, #000047 34%);
  filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#499bea', endColorstr='#000047', GradientType=1 );
}
.pie{
    font-size: 0.7em;
    font-family: Georgia;
    text-align: center;
    padding-top: 20px;    
}
/*----------------- @ medias 3 2 0 +++++++++++++  */
@media (min-width:320px)

{ .container {
  height:60vh;
}
  .headercontainer{
  width:100%;
  font-size:80%;
}
  nav a{
  margin:3%;
}
.registro-header{
right:0%;
top:20px;
min-width:13vw;
max-width: ;    
}
.faqs-container{
  margin:none;
  width:100%;
  font-size:80%;
    
}
.faqs{
  margin-right:15%;
}
.registro{
  padding-left:4%;
    margin-left: 
}
.registro_button{
  position:relative;
  left:15vw;
}
}
/*+++++++++++++++++++++++++++++++++++++++++++++*/
@media (max-width:720px)  {
    .logo{
        top: 1.0vh;
        position: absolute;
       
    }
    .headercontainer{
        position: relative;
        padding-top: 4vh;
        height: 60px
    }
    .fondomagic{
        height: 360px
    }
    
    }
        
    /*++++++++++++++++++++++++++++++++++++++++++*/
/*@media (min-width:721px)  {{
position:absolute;
left:15%;
bottom:15%;
width:60vw;
height:30vw;
}
  .headercontainer{font-size: 100%;}
  position:absolute;
  top:15vw;
}
} */
/*  ++++++++++++++++++++++++++++++++++++++++++ */
@media (min-width:721px)

{ 
  {
  width:100%;
  font-size:80%;
}
  nav a{
  margin:0.3%;
}
.registroheader{
position:absolut;


}
.faqs-container{
  margin:none;
  width:100%;
  font-size:80%;
}    
.faqs{
  margin-right:5%;
}
.registro{
  padding-left:0%;
}
.registro_button{
  position:relative;
  left:50vw;
}
}
/* +++++++++++++++++++++++++++++++ ++++++++++++++ */
@media (min-width:1023px) {NAV A{
    font-size: 1.3em;
    text-align: center;
    margin: 1.9vh;
    text-decoration: none;
    color: white;
    font-family: 'Swanky and Moo Moo', cursive;
    }   
    .registro_button{
  position:relative;
  left:15vw;
}
  }  
/* ++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media (min-width:1281px) { 
    .registro-header{

top:20px;
min-width:9%;
right: 20%        
}
}
    
    
